In [1]:
import pandas as pd
import numpy as np

# Seriesとmapメソッド

In [2]:
s1 = pd.Series([7000, 5000, 23000, 2500, 12000])
s1

0     7000
1     5000
2    23000
3     2500
4    12000
dtype: int64

In [3]:
s1 * 2

0    14000
1    10000
2    46000
3     5000
4    24000
dtype: int64

In [4]:
# 2倍にする関数
def double(x):
    return x * 2

In [5]:
s1.map(double)

0    14000
1    10000
2    46000
3     5000
4    24000
dtype: int64

In [6]:
s1.map(lambda x: x * 2)

0    14000
1    10000
2    46000
3     5000
4    24000
dtype: int64

In [7]:
s1.map(lambda x: '1万円以上' if x >= 10000 else '1万円未満')

0    1万円未満
1    1万円未満
2    1万円以上
3    1万円未満
4    1万円以上
dtype: object

In [8]:
# 価格でランク付をする関数
def f_rank(x):
    if x >= 20000:
        return 'S'
    elif x >= 10000:
        return 'A'
    elif x >= 5000:
        return 'B'
    else:
        return 'C'

In [9]:
s1.map(f_rank)

0    B
1    B
2    S
3    C
4    A
dtype: object

In [10]:
s1.map(np.square)

0     49000000
1     25000000
2    529000000
3      6250000
4    144000000
dtype: int64

In [11]:
s1.map(np.sum)

0     7000
1     5000
2    23000
3     2500
4    12000
dtype: int64

In [12]:
s1.sum()

49500

### 文字列Seriesとmapメソッド

In [13]:
s2 = pd.Series(['スカートSkirt', 'ニットKnit', 'ジャケットJacket', 'シャツShirt', 'ロングパンツSlacks'])
s2

0       スカートSkirt
1         ニットKnit
2     ジャケットJacket
3        シャツShirt
4    ロングパンツSlacks
dtype: object

In [14]:
s2.map(lambda x: x[0])

0    ス
1    ニ
2    ジ
3    シ
4    ロ
dtype: object

In [15]:
import re
s2.map(lambda x: re.findall('[A-z]+', x))

0     [Skirt]
1      [Knit]
2    [Jacket]
3     [Shirt]
4    [Slacks]
dtype: object

In [16]:
s3 = pd.Series(['スカートSkirt', 'ニットKnit', 'ジャケットJacket', 'シャツShirt', 'BottomsロングパンツSlacks'])
s3

0              スカートSkirt
1                ニットKnit
2            ジャケットJacket
3               シャツShirt
4    BottomsロングパンツSlacks
dtype: object

In [17]:
s3.map(lambda x: re.findall('[A-z]+', x))

0              [Skirt]
1               [Knit]
2             [Jacket]
3              [Shirt]
4    [Bottoms, Slacks]
dtype: object

In [18]:
s4 = pd.Series(['スカートSkirt', 'ニットKnit', 'ジャケットJacket', 'シャツShirt', np.nan])
s4

0      スカートSkirt
1        ニットKnit
2    ジャケットJacket
3       シャツShirt
4            NaN
dtype: object

In [19]:
d = {'ジャケットJacket': 'Outer', 'スカートSkirt': 'Bottoms', 'ニットKnit': 'Tops','ワンピースOnepiece':'Onepiece' }
d

{'ジャケットJacket': 'Outer',
 'スカートSkirt': 'Bottoms',
 'ニットKnit': 'Tops',
 'ワンピースOnepiece': 'Onepiece'}

In [20]:
s4.map(d)

0    Bottoms
1       Tops
2      Outer
3        NaN
4        NaN
dtype: object

In [21]:
s4.map('{}を買います。'.format)

0      スカートSkirtを買います。
1        ニットKnitを買います。
2    ジャケットJacketを買います。
3       シャツShirtを買います。
4            nanを買います。
dtype: object

In [22]:
s4.map('{}を買います。'.format, na_action='ignore')

0      スカートSkirtを買います。
1        ニットKnitを買います。
2    ジャケットJacketを買います。
3       シャツShirtを買います。
4                  NaN
dtype: object

# Seriesとapplyメソッド

In [23]:
s1

0     7000
1     5000
2    23000
3     2500
4    12000
dtype: int64

In [24]:
s1.apply(double)

0    14000
1    10000
2    46000
3     5000
4    24000
dtype: int64

In [25]:
s1.apply(lambda x: x*2)

0    14000
1    10000
2    46000
3     5000
4    24000
dtype: int64

In [26]:
s1.apply(lambda x: '1万円以上' if x >= 10000 else '1万円未満')

0    1万円未満
1    1万円未満
2    1万円以上
3    1万円未満
4    1万円以上
dtype: object

In [27]:
s1.apply(f_rank)

0    B
1    B
2    S
3    C
4    A
dtype: object

In [28]:
# 消費税率で税込金額を計算
def f_tax(x, tax):
    return x * tax + x

In [29]:
s1.apply(f_tax, args=(0.1,))

0     7700.0
1     5500.0
2    25300.0
3     2750.0
4    13200.0
dtype: float64

In [30]:
s1.map(f_tax, args=(0.1,))

TypeError: map() got an unexpected keyword argument 'args'

In [31]:
s1.apply(np.square)

0     49000000
1     25000000
2    529000000
3      6250000
4    144000000
dtype: int64

In [32]:
s1.apply(np.sum)

0     7000
1     5000
2    23000
3     2500
4    12000
dtype: int64

## 文字列Seriesとapplyメソッド

In [33]:
s2

0       スカートSkirt
1         ニットKnit
2     ジャケットJacket
3        シャツShirt
4    ロングパンツSlacks
dtype: object

In [34]:
s2.apply(lambda x: x[0])

0    ス
1    ニ
2    ジ
3    シ
4    ロ
dtype: object

In [35]:
s2.apply(lambda x: re.findall('[A-z]+', x))

0     [Skirt]
1      [Knit]
2    [Jacket]
3     [Shirt]
4    [Slacks]
dtype: object

In [36]:
s2.apply(d)

ValueError: Outer is an unknown string function

In [37]:
s4.apply('{}を買います。'.format)

0      スカートSkirtを買います。
1        ニットKnitを買います。
2    ジャケットJacketを買います。
3       シャツShirtを買います。
4            nanを買います。
dtype: object

In [38]:
# 欠損値もそのまま
s4.apply('{}を買います。'.format, na_action='ignore')

0      スカートSkirtを買います。
1        ニットKnitを買います。
2    ジャケットJacketを買います。
3       シャツShirtを買います。
4            nanを買います。
dtype: object

# DataFrameとapplymap

In [39]:
df = pd.DataFrame(
    [[11000, 6000, 8000],[5000, 12000, 6000],[4000, 5000, 9000]],
    columns=['1日', '2日', '3日'], index=['Aさん', 'Bさん', 'Cさん'] )
df

        1日     2日    3日
Aさん  11000   6000  8000
Bさん   5000  12000  6000
Cさん   4000   5000  9000

In [40]:
df * 2

        1日     2日     3日
Aさん  22000  12000  16000
Bさん  10000  24000  12000
Cさん   8000  10000  18000

In [41]:
df.applymap(double)

        1日     2日     3日
Aさん  22000  12000  16000
Bさん  10000  24000  12000
Cさん   8000  10000  18000

In [42]:
df.applymap(lambda x : x * 2)

        1日     2日     3日
Aさん  22000  12000  16000
Bさん  10000  24000  12000
Cさん   8000  10000  18000

In [43]:
df.applymap(lambda x: '1万円以上' if x >= 10000 else '1万円未満')

        1日     2日     3日
Aさん  1万円以上  1万円未満  1万円未満
Bさん  1万円未満  1万円以上  1万円未満
Cさん  1万円未満  1万円未満  1万円未満

In [44]:
df.applymap(f_rank)

    1日 2日 3日
Aさん  A  B  B
Bさん  B  A  B
Cさん  C  B  B

In [45]:
df.applymap(f_tax, args=(0.1,))

TypeError: applymap() got an unexpected keyword argument 'args'

### 参考まで

In [46]:
df.mask(df < 10000, '1万円未満')

        1日     2日     3日
Aさん  11000  1万円未満  1万円未満
Bさん  1万円未満  12000  1万円未満
Cさん  1万円未満  1万円未満  1万円未満

In [47]:
df < 10000

        1日     2日    3日
Aさん  False   True  True
Bさん   True  False  True
Cさん   True   True  True

In [48]:
df.where(df < 10000, '1万円以上')

        1日     2日    3日
Aさん  1万円以上   6000  8000
Bさん   5000  1万円以上  6000
Cさん   4000   5000  9000

In [49]:
df.applymap(np.square)

            1日         2日        3日
Aさん  121000000   36000000  64000000
Bさん   25000000  144000000  36000000
Cさん   16000000   25000000  81000000

In [50]:
df.applymap(np.sum)

        1日     2日    3日
Aさん  11000   6000  8000
Bさん   5000  12000  6000
Cさん   4000   5000  9000

In [51]:
df.sum()

1日    20000
2日    23000
3日    23000
dtype: int64

## 文字列のDataFrameとapplymapメソッド

In [52]:
df2 = pd.DataFrame([['スカートSkirt', 'ニットKnit', 'ジャケットJacket'],
                    ['シャツShirt', 'ロングパンツSlacks', 'ワンピースOnepiesce']],
                   columns=['x', 'y', 'z'])
df2

           x             y               z
0  スカートSkirt       ニットKnit     ジャケットJacket
1   シャツShirt  ロングパンツSlacks  ワンピースOnepiesce

In [53]:
df2.applymap(lambda x: x[0])

   x  y  z
0  ス  ニ  ジ
1  シ  ロ  ワ

In [54]:
df2.applymap(lambda x: re.findall('[A-z]+', x))

         x         y            z
0  [Skirt]    [Knit]     [Jacket]
1  [Shirt]  [Slacks]  [Onepiesce]

# DataFrameとapplyメソッド

In [55]:
df.apply(double)

        1日     2日     3日
Aさん  22000  12000  16000
Bさん  10000  24000  12000
Cさん   8000  10000  18000

In [56]:
df.apply(lambda x : x * 2)

        1日     2日     3日
Aさん  22000  12000  16000
Bさん  10000  24000  12000
Cさん   8000  10000  18000

In [57]:
# エラーになる
df.apply(lambda x: '1万円以上' if x >= 10000 else '1万円未満')

ValueError: ('The truth value of a Series is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().', 'occurred at index 1日')

In [58]:
df.apply(lambda x: x >= 10000)

        1日     2日     3日
Aさん   True  False  False
Bさん  False   True  False
Cさん  False  False  False

In [59]:
df['1日'].apply(lambda x: '1万円以上' if x >= 10000 else '1万円未満')

Aさん    1万円以上
Bさん    1万円未満
Cさん    1万円未満
Name: 1日, dtype: object

In [60]:
df.apply(f_tax, args=(0.1,))

          1日       2日      3日
Aさん  12100.0   6600.0  8800.0
Bさん   5500.0  13200.0  6600.0
Cさん   4400.0   5500.0  9900.0

In [61]:
df.apply(np.square)

            1日         2日        3日
Aさん  121000000   36000000  64000000
Bさん   25000000  144000000  36000000
Cさん   16000000   25000000  81000000

In [62]:
df.apply(np.sum)

1日    20000
2日    23000
3日    23000
dtype: int64

In [63]:
df.apply(np.sum, axis=1)

Aさん    25000
Bさん    23000
Cさん    18000
dtype: int64

In [64]:
df.apply(lambda x: max(x) - min(x))

1日    7000
2日    7000
3日    3000
dtype: int64

In [65]:
df2.apply(lambda x: x[0])

x      スカートSkirt
y        ニットKnit
z    ジャケットJacket
dtype: object

In [66]:
# エラーになる
df2.apply(lambda x: re.findall('[A-z]+',x))

TypeError: ('expected string or bytes-like object', 'occurred at index x')

# まとめ

In [ ]:
s1.map(lambda x: x *2)

In [ ]:
s1.apply(lambda x: x *2)

In [ ]:
s1.map(np.square)

In [ ]:
s1.apply(np.square)

In [ ]:
s1.map(lambda x: '1万円以上' if x >= 10000 else '1万円未満')

In [ ]:
s1.apply(lambda x: '1万円以上' if x >= 10000 else '1万円未満')

In [ ]:
s2.map(d)

In [ ]:
s2.apply(d)

In [ ]:
df.applymap(lambda x: '1万円以上' if x >= 10000 else '1万円未満')

In [ ]:
df.apply(lambda x: '1万円以上' if x >= 10000 else '1万円未満')

In [ ]:
df.applymap(f_tax, args=(0.1,))

In [ ]:
df.apply(f_tax, args=(0.1,))