In [1]:
import pandas as pd

In [2]:
s1 = pd.Series([90, 78, 65, 87, 72])
s1

0    90
1    78
2    65
3    87
4    72
dtype: int64

In [3]:
data = [90, 78, 65, 87, 72]

In [4]:
s1 = pd.Series(data)
s1

0    90
1    78
2    65
3    87
4    72
dtype: int64

In [5]:
import numpy as np

In [ ]:
np.arange(1, 10, 2)

In [ ]:
s2 = pd.Series(np.arange(1, 10, 2))
s2

In [ ]:
data = np.arange(1, 10, 2)

In [ ]:
s2 = pd.Series(data)
s2

In [ ]:
s1

In [ ]:
s1.dtypes

In [ ]:
s1.index

In [ ]:
s1.index = ['sato', 'suzuki', 'takahashi', 'tanaka', 'ito']
s1

In [ ]:
s1.index

In [ ]:
dict01 = {'sato':90, 'suzuki':78, 'takahashi':65, 'tanaka':87, 'ito':72}

In [ ]:
s3 = pd.Series(dict01)
s3

In [ ]:
s1.values

In [ ]:
s1['suzuki']

In [ ]:
s1[1]

In [ ]:
s1[['suzuki', 'tanaka']]

In [ ]:
s1[[1, 3]]

In [ ]:
s1 > 80

In [ ]:
s1[s1 > 80]

In [ ]:
s1[s1 <= 80]

In [ ]:
s1.size

In [ ]:
len(s1)

In [ ]:
s1.index.name = 'member'
s1.name = 'score'
s1

In [ ]:
s1 + 2

In [ ]:
s1 - 2

In [ ]:
s1 * 2

In [ ]:
s1 / 2

In [ ]:
s5 = pd.Series(['test'])
s5 + 2

In [ ]:
s2

In [ ]:
s2.index = ['suzuki', 'takahashi', 'tanaka', 'ito', 'watanabe']
s2

In [ ]:
s1

In [ ]:
s1 + s2

In [ ]:
s1

In [ ]:
s1.hasnans

In [ ]:
s4 = pd.Series([90, 78, 65, None, 72])
s4

In [ ]:
s4.hasnans

In [ ]:
pd.isnull(s4)

In [ ]:
df = pd.DataFrame([[1, 2, 3], [4, 5, 6], [7, 8, 9]], 
                   columns=['col01', 'col02', 'col03'], 
                   index=['idx01', 'idx02', 'idx03'])
df

In [ ]:
df['col01']

In [ ]:
type(df['col01'])

In [ ]:
s5 = pd.Series({'idx01':10, 'idx02':11, 'idx03':12})
s5

In [ ]:
df['col04'] = s5
df

In [ ]:
s6 = pd.Series({'idx03':13, 'idx04':14, 'idx05':15})
s6

In [ ]:
df['col05'] = s6
df

In [ ]:
dates = pd.date_range('2000/01/01', periods = 5, freq = 'D')
dates

In [ ]:
type(dates)

In [ ]:
s1

In [ ]:
s1.index = dates
s1

In [6]:
name = ['sato', 'ito']
score = [90, 80]
dict01 = {'ito': '50', 'suzuki': None}
df = pd.DataFrame([[90, 75], [60, 95]], index = ['sato', 'ito'], columns = ['English', 'Math'])

In [7]:
df

      English  Math
sato       90    75
ito        60    95

In [8]:
s_list = pd.Series(score, name)
s_list

sato    90
ito     80
dtype: int64

In [9]:
s_dict = pd.Series(dict01)
s_dict

ito         50
suzuki    None
dtype: object

In [10]:
s_list.index

Index(['sato', 'ito'], dtype='object')

In [11]:
s_list.values

array([90, 80])

In [12]:
s_list[s_list == 90]

sato    90
dtype: int64

In [13]:
pd.isnull(s_dict)

ito       False
suzuki     True
dtype: bool

In [14]:
df['Science'] = s_list
df

      English  Math  Science
sato       90    75       90
ito        60    95       80